In [9]:
import random
import numpy as np
import pandas as pd
import math as mt

In [10]:
def Poblar():
    dt = pd.DataFrame()
    x = [14,7,13,12,16,14,18,13,12,16,13]
    y = [16,12,13,14,15,12,16,11,13,18,17]
    dt = pd.DataFrame({'X': x, 'Y': y})
    return (dt)

In [112]:
data = Poblar()
data

     X   Y
0   14  16
1    7  12
2   13  13
3   12  14
4   16  15
5   14  12
6   18  16
7   13  11
8   12  13
9   16  18
10  13  17

In [121]:
class Objetos():
    xy=[]
    x2=[]
    x3=[]
    x4=[]
    x2y=[]
    sx=0
    sy=0
    sxy=0
    sx2=0
    sy2=0
    promx=0
    promy=0
    cv=0
    devx=0
    devy=0
    r=0
    A0=0
    A1=0
    A2=0

In [60]:
Objetos.r

0

In [122]:
def calcularR(dt):
    '''Generacion de Matriz'''
    Objetos.xy = dt.loc[:,'X']*dt.loc[:,'Y']
    Objetos.x2 = dt.loc[:,'X']*dt.loc[:,'X']
    Objetos.y2 = dt.loc[:,'Y']*dt.loc[:,'Y']
    dt['XY'] = Objetos.xy
    dt['X2'] = Objetos.x2
    dt['Y2'] = Objetos.y2
    '''Calculo de Sumatorias'''
    Objetos.sx = sum(dt.X)
    Objetos.sy = sum(dt.Y)
    Objetos.sxy = sum(dt.XY)
    Objetos.sx2 = sum(dt.X2)
    Objetos.sy2 = sum(dt.Y2)
    '''Calculo de medias'''
    Objetos.lmax=dt.X.size
    Objetos.promx=Objetos.sx/Objetos.lmax
    Objetos.promy=Objetos.sy/Objetos.lmax
    '''Calculo de covarianza'''
    Objetos.cv=(Objetos.sxy/Objetos.lmax)-(Objetos.promx*Objetos.promy)
    '''Calculo de desviaciones'''
    Objetos.devx=mt.sqrt((Objetos.sx2/Objetos.lmax)- (mt.pow(Objetos.promx,2)))
    Objetos.devy=mt.sqrt((Objetos.sy2/Objetos.lmax)- (mt.pow(Objetos.promy,2)))
    '''Calculo de coeficiente de correlacion lineal'''
    Objetos.r=Objetos.cv/(Objetos.devx*Objetos.devy)
    return Objetos.r

In [123]:
calcularR(data)

0.564472276777969

In [124]:
data

     X   Y   XY   X2   Y2   X2Y    X3      X4
0   14  16  224  196  256  3136  2744   38416
1    7  12   84   49  144   588   343    2401
2   13  13  169  169  169  2197  2197   28561
3   12  14  168  144  196  2016  1728   20736
4   16  15  240  256  225  3840  4096   65536
5   14  12  168  196  144  2352  2744   38416
6   18  16  288  324  256  5184  5832  104976
7   13  11  143  169  121  1859  2197   28561
8   12  13  156  144  169  1872  1728   20736
9   16  18  288  256  324  4608  4096   65536
10  13  17  221  169  289  2873  2197   28561

In [92]:
def predecirNX(ny):
    nx=(Objetos.cv/mt.pow(Objetos.devy,2))*(ny-Objetos.promy)+Objetos.promx
    return nx

In [102]:
def predecirNY(nx):
    ny=(Objetos.cv/mt.pow(Objetos.devx,2))*(nx-Objetos.promx)+Objetos.promy
    return ny

In [103]:
predecirNY(10)

12.704954954954951

In [119]:
def calDeterm(a1,b1,c1,a2,b2,c2,a3,b3,c3):
    deter=(a1*b2*c3+b1*c2*a3+a2*b3*c1)-(c1*b2*a3+b1*a2*c3+c2*b3*a1);
    return deter

In [127]:
def calcularMin_Cuad(dt):
    '''Generacion de Matriz'''
    Objetos.x2y = dt.loc[:,'X2']*dt.loc[:,'Y']
    Objetos.x3 = dt.loc[:,'X2']*dt.loc[:,'X']
    Objetos.x4 = dt.loc[:,'X2']*dt.loc[:,'X2']
    dt['X2Y'] = Objetos.x2y
    dt['X3'] = Objetos.x3
    dt['X4'] = Objetos.x4
    '''Calculo de Sumatorias'''
    Objetos.sx2y = sum(dt.X2Y)
    Objetos.sx3 = sum(dt.X3)
    Objetos.sx4 = sum(dt.X4)
    RD=calDeterm(Objetos.lmax,Objetos.sx,Objetos.sx2,Objetos.sx,Objetos.sx2,Objetos.sx3,Objetos.sx2,Objetos.sx3,Objetos.sx4)
    RDx=calDeterm(Objetos.sy,Objetos.sx,Objetos.sx2,Objetos.sxy,Objetos.sx2,Objetos.sx3,Objetos.sx2y,Objetos.sx3,Objetos.sx4)
    RDy=calDeterm(Objetos.lmax,Objetos.sy,Objetos.sx2,Objetos.sx,Objetos.sxy,Objetos.sx3,Objetos.sx2,Objetos.sx2y,Objetos.sx4)
    RDz=calDeterm(Objetos.lmax,Objetos.sx,Objetos.sy,Objetos.sx,Objetos.sx2,Objetos.sxy,Objetos.sx2,Objetos.sx3,Objetos.sx2y)
    Objetos.A0=RDx/RD;
    Objetos.A1=RDy/RD;
    Objetos.A2=RDz/RD;
    return dt

In [128]:
calcularMin_Cuad(data)

     X   Y   XY   X2   Y2   X2Y    X3      X4
0   14  16  224  196  256  3136  2744   38416
1    7  12   84   49  144   588   343    2401
2   13  13  169  169  169  2197  2197   28561
3   12  14  168  144  196  2016  1728   20736
4   16  15  240  256  225  3840  4096   65536
5   14  12  168  196  144  2352  2744   38416
6   18  16  288  324  256  5184  5832  104976
7   13  11  143  169  121  1859  2197   28561
8   12  13  156  144  169  1872  1728   20736
9   16  18  288  256  324  4608  4096   65536
10  13  17  221  169  289  2873  2197   28561

In [134]:
def predecirMinCuad(nx):
    ny=Objetos.A0+Objetos.A1*nx+Objetos.A2*mt.pow(nx, 2)
    return ny

In [135]:
predecirMinCuad(10)

12.663267783442585